.bannerImage{
    width: 100%;
}
.bannerImage img{
    max-width: 100%;
}
.proposalsContainer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.ProposalCard{
    margin: 30px;
    border: 1px solid #ccc;
    padding: 10px;
}
.ProposalCard img{
    max-width: 200px;
}